<%- include("partials/mainheadblock.ejs") -%>

    <body>
        <%- include("partials/mainheader.ejs") -%>
            <div class="container posts">
                <h1>Feedback</h1>
                <p>Total count: <%- feedbacks.length %>
                </p>
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Message</th>
                            <th scope="col"><span id="table__span">Control</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% feedbacks.forEach (function (feedback) { %>
                            <td>
                                <%- feedback['id'] %>
                            </td>
                            <td>
                                <%- feedback['name'] %>
                            </td>
                            <td>
                                <a href="mailto:<%- feedback['email'] %>"><%- feedback['email'] %></a>
                            </td>
                            <td>
                                <%- feedback['body'] %>
                            </td>
                            <td id="table__btn feedback">
                                <div class="btn__container">
                                    <div class="kebab">
                                        <figure></figure>
                                        <figure class="middle"></figure>
                                        <p class="cross">x</p>
                                        <figure></figure>
                                        <ul class="dropdown">
                                            <li><a href="/feedback_admin/<%- feedback['id'] %>/delete"
                                                    class="btn btn-danger">Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="btnblock__posts">
                                        <div class="btn__posts">
                                            <a href="/feedback_admin/<%- feedback['id'] %>/delete"
                                                class="btn btn-danger">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
                <!-- JavaScript -->
                <%- include("partials/scriptblock.ejs") %>

    </body>


    </html>