<%- include("partials/mainheadblock.ejs") %>

    <body>
        <div class="container">
            <%- include("partials/mainheader.ejs") %>
                <div class="alert alert-success" role="alert">
                    New post is created!
                </div>
                <p>Title: <%- formDataPost.title %>
                </p>
                <p>Author: <%- formDataPost.author %>
                </p>
                <p>Category: <%- formDataPost.category %>
                </p>
                <p>Body: <%- formDataPost.body %>
                </p>
                <p>Hashtags: <%- formDataPost.hashtag %>
                </p>
        </div>


        <!-- JavaScript -->
        <%- include("partials/scriptblock.ejs") %>
    </body>

    </html>